@page "/students/new"
@using System.ComponentModel.DataAnnotations
@inject StudentMedia.Data.IStudentService StudentService
@inject NavigationManager NavigationManager
@using StudentMedia.Models

<PageTitle>Novo Aluno</PageTitle>

<h4>Novo Aluno</h4>

<StudentForm Student="student" ButtonLabel="Salvar" OnValidSubmit="CreateStudent" />

@code {
    [SupplyParameterFromForm]
    private Models.Student student { get; set; }

    protected override void OnInitialized() => student ??= new();

    private async Task CreateStudent()
    {
        await StudentService.AddStudentAsync(student);
        NavigationManager.NavigateTo("/");
    }
}