@page "/students"
@inject StudentMedia.Data.IStudentService StudentService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Students</PageTitle>

<h4>Alunos</h4>

<a href="/students/new" class="btn btn-success mb-3">Novo Aluno</a>

<table class="table">
    <thead>
        <tr>
            <th class="col-2"></th>
            <th>Nome</th>
            <th>Documento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>
                    <a href="@($"/students/{student.Id}/edit")" class="btn btn-sm btn-primary">Editar</a>
                    <button class="btn btn-sm btn-danger" @onclick="() => ShowDeleteConfirmation(student)">Excluir</button>
                </td>
                <td>@student.Name</td>
                <td>@student.Document</td>
            </tr>
        }
    </tbody>
</table>

@if (showConfirmationModal)
{
    <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Exclusão</h5>
                    <button type="button" class="close" aria-label="Close" @onclick="CloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir o aluno @studentToDelete?.Name? </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseModal">Cancelar</button>
                    <button class="btn btn-danger" @onclick="ConfirmDelete">Excluir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop fade show"></div>
}

@code {
    private List<Models.Student>? students;
    private bool showConfirmationModal = false;
    private Models.Student studentToDelete;

    protected override async Task OnInitializedAsync()
    {
        students = await StudentService.GetStudentsAsync();
    }

    private void ShowDeleteConfirmation(Models.Student student)
    {
        studentToDelete = student;
        showConfirmationModal = true;
    }

    private void CloseModal()
    {
        showConfirmationModal = false;
    }

    private async Task ConfirmDelete()
    {
        await DeleteStudent(studentToDelete.Id);
        showConfirmationModal = false;
    }

    private async Task DeleteStudent(int id)
    {
        await StudentService.DeleteStudentAsync(id);
        students = await StudentService.GetStudentsAsync();
    }
}
